name: Check PR title
on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize

jobs:
  main:
    name: Validate PR title
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/validate-pr-title
        env:
           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
