name: Release by merge

on:
  push:
    branches:
      - 'main'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - uses: ./.github/actions/release-by-merge
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}